<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <style>
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/storing" , method="POST">
        <label for="longUrl">Enter your long URL :-</label>
        <input type="text" id="longUrl" name="longestURL" required />
        <button type="submit">Shorten</button>
      </form>
    </div>
  </body>
</html>
